@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    margin: 20mm;
  }
  
  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}

.print-only {
  display: none;
}

@media print {
  .print-only {
    display: block;
  }
  
  .no-print {
    display: none;
  }
}